@use './partials/mixins' as *;
@use './partials/variables' as *;

@import 'bootstrap/scss/bootstrap';

ul {
    list-style: none;
}

* {
    font-family: "Montserrat", sans-serif;
}

.xmark {
    font-size: 1.5rem;
}

.title {
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.main-title {
    font-weight: bolder;
    font-size: 2.5rem;
    color: white;

}

.description {
    font-weight: lighter;
    font-size: 1.3rem;
    line-height: 2.2rem;
    color: #EBEAEA;
}